
@{
    ViewBag.Title = "Index4";
}

<div class="alert alert-success">
    <strong>New Bill Added!!</strong>
</div>
<button type="button" onclick="location.href='@Url.Action("Index1", "Staff")'" class="btn btn-group-lg btn-primary">Back</button>
<br />
<br />

