@{
    ViewBag.Title = "Success";
}

<br />
<br />
<div class="alert alert-success">
    <strong>You details are submitted successfully</strong>
</div>
Return to <a href='@Url.Action("Index1", "Staff")'>Back</a>
