
@{
    ViewBag.Title = "Message";
}


<br />
<br />
<div class="alert alert-success">
    <strong>You details are submitted successfully</strong>
</div>
Return to <a href='@Url.Action("Index", "Staff")'>Login</a>

